@media only screen and (max-width:366px) {

    .titles{
        font-size: 20px !important;

        .title:nth-child(1){
            width: 100%;
            }

            .title:nth-child(2){
            width: 16% !important;
            }

            .title:nth-child(3){
            width: 50% !important;
            }
    }

    .course{
        width: 115px !important;
    }

    .credits{
        width: 43px !important;
    }

    .rows{
        margin-inline: 10px !important;
    }

    #options-section{
        #section{
            p{
                font-weight: 600;
                font-size: 20px !important;
                text-align: left;
                margin: 0;
                margin-top: 6px;

            }

        }   
    }

    .nav-upper{
        img{
            width: 110px !important;
        }
    }

    .nav-Lower{
        .website-title{
            font-size: 25px !important;
        }


        .add-semester{
            .plus-icon{
                width: 30px !important;
                height: 30px !important;

            }
        }

    }

    .formatAndPercentageSign{

        width: 70px !important;
        margin-inline: 2px;


        .format{
            margin: 0;
            width: 100%;
            cursor: text;
            font-size: var(--font-size);
            border-width: 1px 0 1px 1px ;
            border-radius: 4px 0 0 4px;
            
            &:out-of-range{
                border-color:var(--red);
            }

            &:out-of-range + .percentageSign{
                border-color:var(--red) !important;
            }

            &:focus + .percentageSign{
                border-color:var(--primary-color);
            }
        }

        .percentageSign{

            border: 1px #1b1f2326 solid;
            border-left: 0;
            border-radius: 0 4px 4px 0;
            display: none;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
            transition: all 0.1s ease-out;
            padding-right: 5px;

        }
    }
}