#root{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px auto;
        width: fit-content;
        border-radius: 10px;
        transition: all 0.1s ease-out;
        .totalSemester {
            display: none;
            box-sizing: border-box;
            width: -webkit-fill-available;
            box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
            margin: 20px;
            background-color: var(--body-Color);
            padding: 0;
            border-radius: 10px;
            transition: all 0.1s ease-out;
            .Total_GPA {
                background: var(--gradient-part1);
                background: var(--gradient-part2);
                background: var(--gradient-part3);
                padding: 10px 20px;
                margin-bottom: 5px;
                border-radius: 10px 10px 0 0;
                span {
                    //text-align: right;
                    font-size: 30px;
                    color: #fff;
                    font-weight: bold;
                    flex-grow: 4;
                    align-self: center;
                }
            }
        }
        .semesters {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .semester {
            box-sizing: border-box;
            padding: 0;
            margin: 10px;
            box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
            //box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            border-radius: 10px;
            transition: all 0.1s ease-out;
            background-color: var(--body-Color);
            .title_semester {
                background: var(--gradient-part1);
                background: var(--gradient-part2);
                background: var(--gradient-part3);
                // padding: 10px 20px;
                margin-bottom: 5px;
                border-radius: 10px 10px 0 0;
                display: flex;
                align-content: center;
                flex-direction: row;
                span {
                    //text-align: right;
                    font-size: 30px;
                    color: #fff;
                    font-weight: bold;
                    flex-grow: 4;
                    align-self: center;
                    margin-right: -45px;
                }
                .remove-icon-semester {
                    cursor: pointer;
                    display: flex;
                    fill: var(--body-Color);
                    width: 10px;
                    height: 10px;
                    align-self: center;
                    transition: 0.1s;
                    padding: 20px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .table {
                .titles {
                    display: flex;
                    align-items: flex-end;
                    margin-inline: 20px;
                    font-weight: 600;
                    font-size: 24px;
                    color: var(--black);
                    .title:nth-child(1) {
                        width: 100%;
                    }
                    .title:nth-child(2) {
                        width: 11%;
                    }
                    .title:nth-child(3) {
                        width: 54%;
                    }
                }
                .rows {
                    margin-inline: 32px;
                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: stretch;
                        margin-block: 5px;
                        .num {
                            background-color: var(--primary-color);
                            border: 1px var(--primary-color) solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--body-Color);
                            padding: 0 5px;
                            border-radius: var(--border-radius1);
                            width: 5px;
                            margin-inline: 2px;
                            font-size: 18px;
                        }
                        .course,
                        .grade,
                        .credits,
                        .format {
                            font-size: var(--font-size);
                            border: 0;
                            border: 1px #1b1f2326 solid;
                            padding: 5px;
                            text-align: center;
                            transition: all 0.1s ease-out;
                            outline: none;
                            border-radius: var(--border-radius1);
                            margin-inline: 2px;
                            &:focus {
                                border: 1px var(--primary-color) solid;
                            }
                        }
                        .format {
                            width: 100%;
                        }
                        .grade,
                        .credits,
                        .format {
                            width: 70px;
                        }
                        .grade {
                            //width: 20%;
                            cursor: pointer;
                            padding: 3px;
                            option {
                                color: var(--black);
                            }
                        }
                        .format,
                        .credits {
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        .formatAndPercentageSign {
                            display: none;
                            flex-direction: row;
                            align-items: stretch;
                            width: 20%;
                            margin-inline: 2px;
                            .format {
                                margin: 0;
                                width: 100%;
                                cursor: text;
                                font-size: var(--font-size);
                                border-width: 1px 0 1px 1px;
                                border-radius: 4px 0 0 4px;
                                &:out-of-range {
                                    border-color: var(--red);
                                }
                                &:out-of-range+.percentageSign {
                                    border-color: var(--red) !important;
                                }
                                &:focus+.percentageSign {
                                    border-color: var(--primary-color);
                                }
                            }
                            .percentageSign {
                                border: 1px #1b1f2326 solid;
                                border-left: 0;
                                border-radius: 0 4px 4px 0;
                                display: none;
                                flex-direction: column;
                                justify-content: center;
                                background-color: #fff;
                                transition: all 0.1s ease-out;
                                padding-right: 5px;
                            }
                        }
                        .remove-icon-course {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--red);
                            border: 1px var(--red) solid;
                            padding: 0 5px;
                            border-radius: 2px;
                            width: 5px;
                            transition: all 0.1s ease-out;
                            margin-inline: 2px;
                            &:hover {
                                background-color: var(--red);
                                color: var(--body-Color);
                            }
                            &:hover>.x_remove {
                                fill: var(--body-Color);
                            }
                            .x_remove {
                                height: 5px;
                                width: 5px;
                                fill: var(--red);
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                transition: all 0.1s ease-out;
                            }
                        }
                    }
                }
            }
        }
        .redHover {
            border-color: var(--red);
            color: var(--red);
        }
        .redHover:hover {
            background-color: var(--red);
            color: var(--body-Color);
        }
    }
    
    #btns {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: stretch;
        //align-content: center;
        margin: 20px;
        .add-course,
        .clear,
        .num_of_row_wanted {
            //box-shadow: #00000005 0px 1px 3px 0px, #1b1f2326 0px 0px 0px 1px;
            padding-block: 2px 4px;
            font-size: var(--font-size);
            text-align: center;
            transition: all 0.1s ease-out;
            outline: none;
            border-radius: var(--border-radius1);
            background-color: #fff;
            color: var(--primary-color);
            border: 1px var(--primary-color) solid;
            cursor: pointer;
            margin-inline: 2px;
            //margin-top: 10px;
        }
        .add-course {
            border-radius: var(--border-radius1);
            width: 90%;
            &:hover {
                //box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                background-color: var(--primary-color);
                color: var(--body-Color);
            }
            &:active {
                color: var(--body-Color);
                background-color: #004a72;
                border-color: #004a72;
            }
        }
        .clear {
            width: 30%;
            color: var(--red);
            border: 1px var(--red) solid;
            &:hover {
                background-color: var(--red);
                color: var(--body-Color);
                border: 1px var(--red) solid;
            }
            &:active {
                background-color: #c7362c;
                color: var(--body-Color);
                border: 1px #c7362c solid;
            }
        }
        .num_of_row_wanted {
            width: 10%;
            color: var(--primary-color);
            border: 1px var(--primary-color) solid;
            padding: 0;
            font-size: 16px;
            text-align: center;
            //height: 27.5px;
            border-radius: var(--border-radius1);
            cursor: text;
            &:focus {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--body-Color);
            }
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}
