:root{
    --body-Color: #f2f2f3;
    --nav-items-color:#757b85;
    --primary-color: #2F80ED;
    --secondary-color: #02679a;
    --primary-color-light: #028ed4;
    --red: #ee4539;
    --black: #1e1e1e;
    --gradient-part1: #56CCF2;
    
    /* fallback for old browsers */
    
    --gradient-part2: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    --gradient-part3: linear-gradient(to right, #2F80ED, #56CCF2);
    //--gradient-part3 : linear-gradient(to right, #00ffcc, #2a7fff);
    --font-1: 'Comfortaa',
    cursive;
    --font-2: 'Barlow Condensed',
    sans-serif;
    --border-radius1: 4px;
    --font-size: 22px;
}