// style blur background for header

.header,
.footer {
    width: 100%;
    padding: var(--space-50) 0;
    background-color: var(--color-1-80);
    font-size: var(--font-size-0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    // backdrop-filter: blur(100px);
    backdrop-filter: blur(15px);
    // -webkit-backdrop-filter: blur(60px);
    border-bottom: 1px solid var(--color-3-20);
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .header-container,
    .footer-container {
        width: var(--page-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .logo {
            width: 230px;

            svg {
                width: 70px;
                fill: var(--color-3);
            }
        }

        .title {
            font-size: var(--font-size-1);
            font-weight: var(--font-weight-2);
            color: var(--color-3-60);
            margin: 0;
            padding: 0;
        }

        .header-buttons,
        .footer-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // gap: var(--space-1);
            width: 230px;

            .header-button {
                color: var(--color-3-60);
                transition: var(--transition-1);
                padding: var(--space-50);
                cursor: pointer;

                &:hover>svg {
                    fill: var(--color-3);
                }

                svg {
                    display: flex;
                    cursor: pointer;
                    width: 25px;
                    transition: var(--transition-1);
                    fill: var(--color-3-60);
                }
            }
        }
    }
}

.footer {
    top: auto;
    bottom: 0;
    border-top: 1px solid var(--color-3-20);
    border-bottom: none;

    .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        font-weight: 300;

        .logo {
            width: auto;

            svg {
                fill: var(--color-3-60) !important;
                width: 50px !important;
            }
        }

        .text {
            color: var(--color-3-60);
        }
    }

    .version {
        color: var(--color-3-60);
        transition: var(--transition-1);
        cursor: pointer;

        &:hover {
            color: var(--color-3);
        }
    }

    .social {
        width: 180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .social-icon {
            width: 20px;
            height: 20px;
            fill: var(--color-3-60);
            transition: var(--transition-1);
            cursor: pointer;

            &:hover {
                fill: var(--color-3);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 150px;
    }

    .title {
        display: none;
    }
}