/* fallback for old browsers */
.dark {
  background-color: #1D2025 !important;
}

.dark_container {
  background-color: #152D49 !important;
  color: #f2f2f3 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

#dark_table {
  color: #f2f2f3 !important;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-page {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Barlow Condensed", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0;
  text-align: center;
  background-color: #ECE9E6;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#container .totalSemester {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 476px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  margin: 20px;
  background-color: #f2f2f3;
  padding: 0;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#container .totalSemester .Total_GPA {
  background: #56CCF2;
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
}

#container .totalSemester .Total_GPA span {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#container .semesters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#container .semester {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #f2f2f3;
}

#container .semester .title_semester {
  background: #56CCF2;
  background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#container .semester .title_semester span {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: -11px;
}

#container .semester .title_semester .remove-icon-semester {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #f2f2f3;
  width: 10px;
  height: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#container .semester .table .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-inline: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #1e1e1e;
}

#container .semester .table .titles .title:nth-child(1) {
  width: 100%;
}

#container .semester .table .titles .title:nth-child(2) {
  width: 11%;
}

#container .semester .table .titles .title:nth-child(3) {
  width: 54%;
}

#container .semester .table .rows {
  margin-inline: 32px;
}

#container .semester .table .rows #row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-block: 5px;
}

#container .semester .table .rows #row .num {
  background-color: #2F80ED;
  border: 1px #2F80ED solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f3;
  padding: 0 5px;
  border-radius: 4px;
  width: 5px;
  margin-inline: 2px;
  font-size: 18px;
}

#container .semester .table .rows #row .course,
#container .semester .table .rows #row .grade,
#container .semester .table .rows #row .credits,
#container .semester .table .rows #row .format {
  font-size: 22px;
  border: 0;
  border: 1px #1b1f2326 solid;
  padding: 5px;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  outline: none;
  border-radius: 4px;
  margin-inline: 2px;
}

#container .semester .table .rows #row .course:focus,
#container .semester .table .rows #row .grade:focus,
#container .semester .table .rows #row .credits:focus,
#container .semester .table .rows #row .format:focus {
  border: 1px #2F80ED solid;
}

#container .semester .table .rows #row .format {
  width: 100%;
}

#container .semester .table .rows #row .grade,
#container .semester .table .rows #row .credits,
#container .semester .table .rows #row .format {
  width: 70px;
}

#container .semester .table .rows #row .grade {
  cursor: pointer;
  padding: 3px;
}

#container .semester .table .rows #row .grade option {
  color: #1e1e1e;
}

#container .semester .table .rows #row .format::-webkit-inner-spin-button,
#container .semester .table .rows #row .credits::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container .semester .table .rows #row .formatAndPercentageSign {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 20%;
  margin-inline: 2px;
}

#container .semester .table .rows #row .formatAndPercentageSign .format {
  margin: 0;
  width: 100%;
  cursor: text;
  font-size: 22px;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
}

#container .semester .table .rows #row .formatAndPercentageSign .format:out-of-range {
  border-color: #ee4539;
}

#container .semester .table .rows #row .formatAndPercentageSign .format:out-of-range + .percentageSign {
  border-color: #ee4539 !important;
}

#container .semester .table .rows #row .formatAndPercentageSign .format:focus + .percentageSign {
  border-color: #2F80ED;
}

#container .semester .table .rows #row .formatAndPercentageSign .percentageSign {
  border: 1px #1b1f2326 solid;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  padding-right: 5px;
}

#container .semester .table .rows #row .remove-icon-course {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ee4539;
  border: 1px #ee4539 solid;
  padding: 0 5px;
  border-radius: 2px;
  width: 5px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  margin-inline: 2px;
}

#container .semester .table .rows #row .remove-icon-course:hover {
  background-color: #ee4539;
  color: #f2f2f3;
}

#container .semester .table .rows #row .remove-icon-course:hover > .x_remove {
  fill: #f2f2f3;
}

#container .semester .table .rows #row .remove-icon-course .x_remove {
  height: 5px;
  width: 5px;
  fill: #ee4539;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#container .redHover {
  border-color: #ee4539;
  color: #ee4539;
}

#container .redHover:hover {
  background-color: #ee4539;
  color: #f2f2f3;
}

#btns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 20px;
}

#btns .add-course,
#btns .clear,
#btns .num_of_row_wanted {
  padding-block: 2px 4px;
  font-size: 22px;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  color: #2F80ED;
  border: 1px #2F80ED solid;
  cursor: pointer;
  margin-inline: 2px;
}

#btns .add-course {
  border-radius: 4px;
  width: 90%;
}

#btns .add-course:hover {
  background-color: #2F80ED;
  color: #f2f2f3;
}

#btns .add-course:active {
  color: #f2f2f3;
  background-color: #004a72;
  border-color: #004a72;
}

#btns .clear {
  width: 30%;
  color: #ee4539;
  border: 1px #ee4539 solid;
}

#btns .clear:hover {
  background-color: #ee4539;
  color: #f2f2f3;
  border: 1px #ee4539 solid;
}

#btns .clear:active {
  background-color: #c7362c;
  color: #f2f2f3;
  border: 1px #c7362c solid;
}

#btns .num_of_row_wanted {
  width: 10%;
  color: #2F80ED;
  border: 1px #2F80ED solid;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  cursor: text;
}

#btns .num_of_row_wanted:focus {
  background-color: #2F80ED;
  border-color: #2F80ED;
  color: #f2f2f3;
}

#btns .num_of_row_wanted::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */