.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-1);
    // display: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;

    .popup-inner {
        // background-color: var(--color-2);
        background-color: transparent;
        border: 1px solid var(--color-3-20);
        border-radius: var(--border-radius);
        min-width: 300px;
        backdrop-filter: blur(15px);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        .popup-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: var(--space-1) var(--space-1);
            border-bottom: 1px solid var(--color-3-20);
        }

        .popup-title {
            font-size: var(--font-size-2);
            font-weight: var(--font-weight-1);
            color: var(--color-3);
            padding-left: var(--space-1);
        }

        .popup-content {
            display: flex;
            flex-direction: column;
            padding: var(--space-50) var(--space-1);
        }

        .popup-item {
            display: flex;
            color: var(--color-3-50);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-7);
            padding: var(--space-75) var(--space-1);
            cursor: pointer;
            transition: var(--transition-1);
            border-bottom: 1px solid var(--color-3-20);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                color: var(--color-3);
            }
        }
    }
}

.popup-opened {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}