.Cards {
    width: 100%;
    margin-top: calc(72px + var(--space-1));
}

.test {
    background-color: var(--color-2);
    color: var(--color-3);
    font-size: var(--font-size-1);
    padding: var(--space-1);
    scroll-padding-top: 50px;
    border-radius: var(--border-radius);
    margin-bottom: var(--space-1);
}
