.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-50);
    // width: 100%;
    margin-top: calc(72px + var(--space-1));
    margin-bottom: calc(145px + var(--space-1));
}

.line-divider {
    width: 98%;
    height: 1px;
    border-width: 0;
    color: var(--color-2);
    background-color: var(--color-2);
    transition: var(--transition-3);
    // margin: 0;
}