.Cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-50);
    // width: 100%;
    margin-top: calc(72px + var(--space-1));
    margin-bottom: calc(141px + var(--space-1));
}

.line-divider {
    width: 98%;
    height: 1px;
    border-width: 0;
    color: var(--color-2);
    background-color: var(--color-2);
    // margin: 0;
}

.test {
    background-color: var(--color-2);
    color: var(--color-3);
    font-size: var(--font-size-1);
    padding: var(--space-1);
    scroll-padding-top: 50px;
    border-radius: var(--border-radius);
    margin-bottom: var(--space-1);
}
