$body-Color: #f2f2f3;
$nav-items-color:#757b85;
$primary-color: #2F80ED;
$secondary-color: #02679a;
$primary-color-light: #028ed4;
$red : #ee4539;
$black : #1e1e1e;
$gradient-part1 : #56CCF2;  /* fallback for old browsers */
$gradient-part2 : -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
$gradient-part3 : linear-gradient(to right, #2F80ED, #56CCF2);
$font-1 : 'Comfortaa', cursive;
$font-2 : 'Barlow Condensed', sans-serif;
$border-radius1: 4px;
$font-size: 22px;

*{
    font-family: $font-2;
}


#Result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    //display: none;

    
    .containerGPA,.estimate{
        // background: #ECE9E6;
        // background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
        // background: linear-gradient(to right, #FFFFFF, #ECE9E6);
        // background: #56CCF2;
        
        //background: linear-gradient(to right, #000000, #434343);//background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
        //background: linear-gradient(to right, #2F80ED, #56CCF2);
        width: fit-content;
        padding: 25px;
        //box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 50%;
        border: 3px #fff solid;
        color: $black;
        width: 150px;
        height: 150px;
        background-color: #15b7ed;
        transition: all 0.5s ease-out;
        font-family: $font-2;

        

        .title{
            font-size: 24px;
            margin-top: 5px;
            color: $body-Color;
            font-family: $font-2;

        }

        .GPA{
            margin-top: 0;
            font-size: 75px;
            padding: 0;
            font-weight: 700;
            color: $body-Color;
            font-family: $font-2;



        }
    }

    .estimate{
        padding: 6px 13px 8px;
        border-radius: 10px;
        font-weight: 400;
        margin: 15px;
        height: auto;
        width: fit-content;
        color: $body-Color;
        font-family: $font-2;
        font-size: $font-size;



    }
}