.grade-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-1);
    // display: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;

    .grade-popup-inner {
        backdrop-filter: blur(15px);
        position: absolute;
        // padding: 0 var(--space-1);
        border: 1px solid var(--color-3-20);
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        z-index: 999;
        width: 370px;

        .grade-popup-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: var(--space-1) var(--space-1);
            border-bottom: 1px solid var(--color-3-20);

            .grade-popup-title {
                font-size: var(--font-size-1);
                font-weight: var(--font-weight-1);
                color: var(--color-3);
                padding-left: var(--space-1);
            }

            .title-btn {
                color: var(--color-3-60);
                cursor: pointer;
                transition: var(--transition-1);

                &:hover {
                    color: var(--color-3);
                }
            }

            .grade-popup-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--space-25);
                padding-right: var(--space-50);

                .grade-popup-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 var(--space-50);
                    color: var(--color-3-60);
                    cursor: pointer;

                    svg {
                        transition: var(--transition-1);
                        fill: var(--color-3-60);
                    }

                    &:hover>svg {
                        fill: var(--color-3);
                    }
                }

                .active-button {
                    color: var(--color-3);

                    svg {
                        fill: var(--color-3);
                    }
                }
            }
        }

        .grade-popup-options {
            display: flex;
            flex-direction: column;
            padding: var(--space-50) var(--space-1);

            // gap: var(--space-25);
            .selected {
                background-color: var(--color-3);
                border-color: var(--color-3);
            }

            .grade-popup-option {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: var(--space-7);
                padding: var(--space-75) var(--space-1);
                cursor: pointer;
                transition: var(--transition-1);
                border-bottom: 1px solid var(--color-3-20);

                &:hover>.grade-popup-option-value {
                    color: var(--color-3);
                }

                .grade-popup-option-name {
                    font-size: var(--font-size-0);
                    font-weight: var(--font-weight-1);
                    color: var(--color-3);
                    width: 18px;
                }

                .grade-popup-option-value {
                    font-size: var(--font-size-0);
                    font-weight: var(--font-weight-1);
                    color: var(--color-3-50);
                    text-align: center;
                    transition: var(--transition-1);
                    max-width: 120px;

                    &:focus {
                        color: var(--color-3);
                    }
                }

                .active-input {
                    text-align: right;
                }

                .grade-popup-option-button {
                    border: 1px solid var(--color-3-50);
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }

                &:hover>.grade-popup-option-button-container .grade-popup-option-button {
                    border: 1px solid var(--color-3);
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}