.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--space-50);
    padding: var(--space-50) var(--space-1);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-3-20);
    transition: var(--transition-2);
    color: var(--color-3);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
    background-color: var(--color-2);
    outline: none;
    text-align: center;
    // flex: 1 0 0;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    &:hover {
        border: 1px solid var(--color-3);
    }

    &:active {
        transform: scale(0.99);
    }

    .btnIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 20px !important;
            height: 20px !important;
            fill: var(--color-3);
        }

        &:hover > svg {
            fill: var(--color-3);
        }
    }
}
.withIcon {
    padding: 0 !important;
}

.primary {
    background-color: var(--color-2);
}

.buttons_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: fit-content;
    gap: var(--space-1);
    margin: var(--space-1) 0;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .buttons_container {
        width: 100%;
        flex-wrap: wrap;

        .button {
            width: 100%;
            flex: 1 0 100px;
            //     padding: var(--space-50) var(--space-2);
            //     // flex: 1 0 calc(100% / 3 - var(--space-1) * 2);
            //     flex: 1 0 100px;
        }
    }
}
